body{
  margin: 0;
  padding: 0;
}
/* Header */
.top{
  margin:0;
background-color: #393e46;
color: #aad8d3;
text-align: center;
padding: 15px;
}
.assignmentName{
  margin-top: 0;
}
.storeName{
  margin: 0;
}
/* main */
.seeCons{
  font-size: 2em;
  margin:0;
  color: #aad8d3;
}
.middle{
  margin: 0;
  padding: 1em;
  background-color: #eeee;
  background-image: url("record.png");
  background-repeat: space;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;

}
